{% load static %}
<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>{% block title %}{% endblock %}</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="{% block description %}{% endblock %}">

    <link href="{% static 'bootstrap3/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/ct-paper.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/xe_calc.css' %}" rel="stylesheet"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'fav/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'fav/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'fav/favicon-16x16.png' %}">
    <link rel="icon" href="{% static 'fav/favicon-32x32.png' %}" type="image/x-icon">
    <link rel="manifest" href="{% static 'fav/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'fav/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!--     Fonts and icons     -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>

        <!-- Yandex.RTB -->
    <script>window.yaContextCb=window.yaContextCb||[]</script>
    <script src="https://yandex.ru/ads/system/context.js" async></script>
</head>
<body>
<div id="navbar-full">
    <nav class="navbar navbar-ct-danger" role="navigation-demo">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">XeCalc</a>
            </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav navbar-right">
              <li class="nav navbar-nav">
                    <a href="{% url 'catalog:feedback' %}" class="btn btn-danger btn-fill">Остались вопросы?</a>
              </li>
            </ul>
        </div><!-- /.container-->
    </nav>
</div>
<div id="notifications">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.tags == "error" %}danger{% else %}{{ message.tags }}{% endif %}">
                <div class="container">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="main">
        <div class="container">
            <div class="row">
                {% block banner %}
                    <div class="col-lg-12 text-center margin-top-2">
                        <!-- Yandex.RTB R-A-783138-1 -->
                        <div id="yandex_rtb_R-A-783138-1"></div>
                        <script>window.yaContextCb.push(()=>{
                          Ya.Context.AdvManager.render({
                            renderTo: 'yandex_rtb_R-A-783138-1',
                            blockId: 'R-A-783138-1'
                          })
                        })</script>
                    </div>
                {% endblock %}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center margin-top-2">
                    <a href="https://play.google.com/store/apps/details?id=com.ivan_kazionov.xecalc">
                        <img width="199" height="77" class="image-fluid" src="{% static 'google-play-badge.png' %}" alt="https://play.google.com/store/apps/details?id=com.ivan_kazionov.xecalc">
                    </a>
                    <a href="https://vk.com/xecalc">
                        <img width="50" height="50" class="image-fluid" src="{% static 'vk_logo.png' %}" alt="https://vk.com/xecalc">
                    </a>
                    <a href="https://t.me/xecalc">
                        <img width="50" height="50" class="image-fluid" src="{% static 'telegram_logo.png' %}" alt="https://t.me/xecalc">
                    </a>
                </div>
            </div>
        </div>
</div>


</body>

    <script src="{% static 'js/jquery-1.10.2.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery-ui-1.10.4.custom.min.js' %}" type="text/javascript"></script>

	<script src="{% static 'bootstrap3/js/bootstrap.js' %}" type="text/javascript"></script>

	<!--  Plugins -->
	<script src="{% static 'js/ct-paper-checkbox.js' %}"></script>
	<script src="{% static 'js/ct-paper-radio.js' %}"></script>
	<script src="{% static 'js/bootstrap-select.js' %}"></script>
	<script src="{% static 'js/bootstrap-datepicker.js' %}"></script>

	<script src="{% static 'js/ct-paper.js' %}"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-9Z3NYKEZN0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-9Z3NYKEZN0');
    </script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
       (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
       m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
       (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

       ym(70433236, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
       });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/70433236" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    {% block bottom_js %}
    {% endblock %}
</html>