{% extends 'base.html' %}
{% block title %}Продукты бренда {{ brand.name }}{% endblock %}
{% block description %}{{ brand.name }}: содержание калорий. углеводов, жиров, и хлебных единиц{% endblock %}
{% block content %}
    <div class="section section-nude">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ brand.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Продукты бренда "{{ brand.name }}" с содержанием хлебных единиц</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <table class="table">
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td><a href="{{ product.get_url }}">{{ product.name }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if paginator.num_pages > 1 %}
                <div class="row">
                    <div class="col-lg-12">
                        <nav>
                            <ul class="pagination">
                                {% for page_num in paginator.page_range %}
                                    {% if page_obj.number == page_num %}
                                        <li class="page-item active">
                                          <a class="page-link" href="#">{{ page_num }} <span class="sr-only">(current)</span></a>
                                        </li>
                                    {% else %}
                                        <li><a href="?page={{ page_num }}">{{ page_num }}</a></li>
                                    {% endif %}
                                {% endfor %}
                           </ul>
                        </nav>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}