{% extends 'base.html' %}
{% block title %}Обратная связь{% endblock %}
{% block description %}Вопросы и обращения{% endblock %}
{% block content %}
    <div class="section section-nude">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        <li class="breadcrumb-item active">Обратная связь</li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-lg-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="contacts">Ваши контакты</label>
                            <input type="text" class="form-control" name="contacts" id="contacts">
                            {% for error in form.contacts.errors %}
                                <div class="invalid-feedback">
                                  {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="form-group">
                            <label for="text">Ваш вопрос</label>
                            <textarea class="form-control" id="text" name="text" rows="3">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
                            {% for error in form.text.errors %}
                                <div class="invalid-feedback">
                                  {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}