{% extends 'base.html' %}
{% load static %}
{% block title %}Содержание хлебных единиц в продуктах{% endblock %}
{% block description %}Продукты питания - хлебные единицы, белки, жиры и углеводы{% endblock %}
{% block content %}
<div class="section">
    <div class="container tim-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tim-title">
                    <h1>Продукты с содержнием хлебных единиц</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 ">
                <div class="form-group search">
                    <input name="search" type="text" placeholder="Введите название продукта" class="form-control">
                </div>
            </div>
        </div>
        <div class="row margin-top-2">
            <div class="col-lg-12" id="product_res"></div>
        </div>
        {% if top_products %}
            <div class="row margin-top-2">
                <div class="col-lg-12">
                    <h2>Последние найденые продукты</h2>
                    {% for product in top_products %}
                        <a href="{{ product.url }}" class="label label-primary">{{ product.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% if top_brands %}
            <div class="row margin-top-2">
                <div class="col-lg-12">
                    <h2>Бренды</h2>
                    {% for brand in top_brands %}
                        <a href="{{ brand.url }}" class="label label-success">{{ brand.name }}</a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
{% block bottom_js %}
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}