{% extends 'base.html' %}
{% block title %}{{ product.name }}{% if product.brand %} ({{ product.brand.name }}){% endif %} - содержание хлебных единиц{% endblock %}
{% block description %}{{ product.name }}{% if product.brand %} ({{ product.brand.name }}){% endif %}: белки, жиры, углеводы и калории{% endblock %}
{% block content %}
    <div class="section section-nude">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        {% if product.brand %}
                            <li class="breadcrumb-item"><a href="{{ product.brand.get_url }}">{{ product.brand.name }}</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>{{ product.name }} - содержание хлебных единиц</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Порция</th>
                                <th scope="col">Калории</th>
                                <th scope="col">Жиры г.</th>
                                <th scope="col">Белки г.</th>
                                <th scope="col">Углеводы г.</th>
                                <th scope="col">Хлебные единицы</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for portion in product.portions.all %}
                                <tr>
                                    <td>{{ portion.name }}</td>
                                    <td>{{ portion.calories|stringformat:'d' }}</td>
                                    <td>{{ portion.fat }}</td>
                                    <td>{{ portion.protein }}</td>
                                    <td>{{ portion.carbohydrates }}</td>
                                    <td><b>{{ portion.xe_count }}</b></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-lg-12">
                    <p>Расчет хлебных единиц произведен из расчета <b>1 хлебная единица = 12 грамм углеводов</b>.</p>
                    <br>
                    <p class="font-bold">Будьте внимательны, информация о продуктах взята из открытых источников,
                        возможны отклонения от реальных значений, если вы нашли ошибку напишите об этом <a href="{% url 'catalog:complaint_create' product.slug %}">здесь.</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}