{% extends 'base.html' %}
{% block title %}Ошибка в {{ product.name }}{% endblock %}
{% block description %}{{ product.name }} неправильные данные{% endblock %}
{% block content %}
    <div class="section section-nude">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Главная</a></li>
                        {% if product.brand %}
                            <li class="breadcrumb-item"><a href="{{ product.brand.get_url }}">{{ product.brand.name }}</a></li>
                        {% endif %}
                        <li class="breadcrumb-item"><a href="{{ product.get_url }}">{{ product.name }}</a></li>
                        <li class="breadcrumb-item active">Жалоба</li>
                      </ol>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h1>Опишите проблему связанную с продуктом</h1>
                </div>
            </div>
            <div class="row margin-top">
                <div class="col-lg-12">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="portion">Порция</label>
                            <select class="form-control" id="portion" name="portion">
                                {% for id, value in form.portion.field.choices %}
                                    <option value="{{ id }}"{% if form.portion.value == id %} selected{% endif %}>{{ value }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="text">Описание проблемы</label>
                            <textarea class="form-control is-invalid" id="text" name="text" rows="3">{% if form.text.value %}{{ form.text.value }}{% endif %}</textarea>
                            {% for error in form.text.errors %}
                                <div class="invalid-feedback">
                                  {{ error|escape }}
                                </div>
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn btn-primary">Отправить</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}