html, body {
    height: 100%;
    background-color: #f4f3ef;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 0;
    z-index: 2;
}

.section {
    background-color: unset;
    background-image: none;
}

.h1, h1 {
    font-size: 36px;
}

.h2, h2 {
    font-size: 30px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
    font-weight: 400;
    margin: 30px 0 30px;
}

.label {
    padding: 0.5em 0.6em;
    border-radius: 10px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 1em;
    text-transform: none;
    margin-bottom: 10px;
}

.search .form-control {
    height: 60px;
    background-color: #FFFFFF;
}

.margin-top-2 {
    margin-top: 20px;
}

.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: unset;
    border-radius: 0;
}

.font-bold {
    font-weight: bold;
}

input[name="search"]::placeholder {
    color: #828282;
}

@media (max-width: 767px) {
    .navbar-nav {
        margin: 1px -10px;
    }
}
.image-fluid {
    max-width: 100%;
}